* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Source Sans Pro", sans-serif;
	color: #191919;
}

a {
	text-decoration: none !important;
}

html {
	scroll-behavior: smooth;
}

body {
}

.dark-mode-body {
	background-color: #191919 !important;
}

h1 {
	font-size: 6.5rem !important;
	font-weight: 700 !important;
	font-family:  "PT Serif", serif;
	color: #080808 !important;
}

h2 {
	font-size: 3rem !important;
	font-weight: 700 !important;
	font-family:  "PT Serif", serif;
	color: #080808 !important;
}

h3 {
	font-size: 2rem !important;
	font-weight: 700 !important;
}

#hero {
	padding-top: 8rem;
	padding-bottom: 4rem;
	min-height: 100vh;
	background-color: #F8F5EF;
}


#nav-bar {
	background-color: #f15025 !important;
}

#nav-logo {
	width: 100px !important;
}

#profile-photo {
	width:  350px;
	border-radius: 50%;
	margin-bottom:  2rem;
}

#projects, #tools, #contact {
	padding-top: 4rem;
}

#projects-container, #contact-container, #tools-container {
	min-height: 50vh;
}

#tools-container {
	background-color: #F8F5EF;
}

#logos-container > a > img {
	width: 130px;
}
#github-logo, #vscode-logo {
	transform: scale(.70);
}

#projects-container > div > div > div > div > a > img:hover {
	transform: scale(1.05);
	transition: .2s;
}

.projects {
	height: 100%;
}

#tools-container > div > a > img:hover {
	transform: scale(1.1);
	transition: .2s;
}

#github-logo:hover, #vscode-logo:hover {
	transform: scale(.8) !important;
}

#gmap_canvas {
	width: 100%;
	height: 100%
}

.btn-custom {
	background-color: rgb(131, 50, 223) !important;
}

.btn-custom:hover {
	background-color: rgb(151, 70, 243) !important;
}

footer {
	background-color: #dadcda;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 991px) {

	#hero {
		padding-top: 6rem;
	}

	h1 {
		font-size: 4.5rem !important;
	}
}
@media only screen and (max-width: 768px) {

	#profile-photo {
		width:  300px;
	}

	h1 {
		font-size: 3rem !important;

	}

	#gmap_canvas {
	height: 50vh
	}

	#projects-container, #contact-container, #tools-container {
	min-height: 70vh;
}

}
@media only screen and (max-width: 366px) {

	#profile-photo {
		margin-top: 2rem !important;
		width:  200px;
		margin-bottom: .5rem;
	}

	h1 {
		font-size: 2.5rem !important;
	}

	h2 {
		font-size: 2.25rem !important;
	}

	h3 {
		font-size: 1.5rem !important;
	}

	h5 {
		font-size: 1rem !important;
	}

	#logos-container > a > img {
		width: 80px;
	}
	#github-logo, #vscode-logo {
		transform: scale(.70);
	}

	#projects-container, #contact-container, #tools-container {
	min-height: 100vh;
}

}