:root {
	--orange: #FF6A00;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

a {
	text-decoration: none !important;
}

html {
	scroll-behavior: smooth;
}

body {
	min-width: 320px;
	opacity: 1;
	transition: 700ms;
}

p {
	font-weight: 300;
}

#hero-container {
	min-height: 100vh;
	background-color: #000000;
}

#hero {
	max-width: 1300px;
	padding: 0 4rem;
	margin-bottom: .5rem;
}

#cta {
	max-width: 1300px;
	padding: 0 4.5rem;
}

#giobugtong {
	color: var(--orange);
	margin-block: 1rem;
}

#at-sign {
	font-size: clamp(4.5rem, 8wv, 9.5rem);
	font-weight: 500;
	position: relative;
	top: clamp(6px, 1vw, 16px);
	right: clamp(2px, 1vw, 8px);
	background: linear-gradient(to bottom, rgb(28, 253, 171), rgba(224, 43, 248, 0.916));
	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
}

#giobugtong::before {
	content: "Hello! I am";
	display: block;
	margin: 0 auto;
	color: white;
	font-size: clamp(1rem, 5vw, 2rem);
	font-weight: 300;
}

#giobugtong:hover::before {
	content: "full name: Norman Luigi E. Bugtong";
	display: block;
	margin: 0 auto;
	color: white;
	font-size: clamp(1rem, 5vw, 2rem);
	font-weight: 300;
}

#greeting {
	display: block;
	padding-top: 4rem;
	padding-bottom: clamp(1rem, 3vw, 3.5rem);
	font-style: italic;
	font-weight: 300;
	font-size: clamp(.85rem, 2vw, 1.25rem);

}

#scroll-down {
	position: relative;
	display: block;
	margin-bottom: 1rem;
	font-size: clamp(.75rem, 4vw, 1rem);
}

#scroll-down a {
	color: white;
}

#scroll-icon {
	margin-bottom: .5rem;
	transition: 300ms;
}

#scroll-down:hover #scroll-icon{
	transform: translateY(.5rem);
	transition: 300ms;
}

#scroll-down:hover {
	cursor: pointer;
}

h1 {
	font-size: clamp(2.5rem, 9vw, 6rem);
	font-weight: 700;
}

h2 {
	font-size: clamp(2.25rem, 8vw, 3.25rem);
	font-weight: 700;
}

h3 {
	font-size: clamp(1.25rem, 4vw, 2.75rem);
}

#navbar {
	font-weight: 300;
}

@supports (backdrop-filter: none) {
	#navbar {
		background-color: rgba(0, 0, 0, .7);
		backdrop-filter: blur(1rem);
	}
}

@supports not (backdrop-filter: none) {
	#navbar {
		background-color: rgba(0, 0, 0, 1);
	}
}

#navbar button {
	border: none;
	
}

.nav-link {
	color: rgba(255, 255, 255, .65) !important;
	transition: 200ms;
}

.nav-link:hover{
	transition: 200ms;
	color: rgba(255, 255, 255, 1) !important;
}

#profile-photo {
	width:  350px;
	border-radius: 50%;
	margin-bottom:  2rem;
}

#projects, #tools, #contact {
	padding-top: 72px;
}

#projects-container, #tools-container {
	/* min-height: 50vh; */
}

#contact-container {
	min-height: 80vh;
}

#tools-container {
	min-height: 100vh;
	background-color: #000000;
}

#logos-container > a > img {
	width: 130px;
}
#github-logo, #vscode-logo {
	transform: scale(.70);
}

#projects-container > div > div > div > div > a > img {
	max-height: 345px;
}

#projects-container > div > div > div > div > a > img:hover {
	transform: scale(1.05);
	transition: .2s;
}

.projects {
	height: 100%;
}

#tools-container > div > a > img:hover {
	transform: scale(1.1);
	transition: .2s;
}

#github-logo:hover, #vscode-logo:hover {
	transform: scale(.8) !important;
}

#gmap_canvas {
	width: 100%;
	height: 100%
}

.btn-custom {
	background-color: var(--orange) !important;
	box-shadow: none !important;
	font-weight: 300;
}

.btn-custom:hover {
	background-color: hsl(25, 100%, 46%) !important;
}

form {
	font-weight: 300;
}

input, textarea {
	box-shadow: none !important;
}

footer {
	background-color: #000000;
}

footer p {
	font-size: .85rem;
}

#social-media-links a {
	color: rgb(217, 217, 217);
}

#social-links a {
	font-weight: 300;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 991px) {

	
}

@media only screen and (max-width: 767px) {

	#gmap_canvas {
	height: 50vh
	}

	#hero {
		max-width: 1200px;
		padding: 0;
	}

}

@media only screen and (max-width: 366px) {

	#logos-container > a > img {
		width: 80px;
	}
	#github-logo, #vscode-logo {
		transform: scale(.70);
	}
}